body{
    background-color: #212529;
}

.jumbotron{
    padding-top: 2rem;
    background-color: #B4B4B8;
}

#about {
    background-color: #ffff;
}

#Projects {
    background-color: #B4B4B8;
}

#sosmed {
    background-color: #ffff;
}

section{
    padding-top: 4rem;
}